body{
    margin: 0;
    width: 100%;
    height: 100vh;
}

.fixed-background{
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #74E8A8;
    z-index: 0;
}

.fixed-background::after{
    background: url('/images/developer background.jpg');
    content: "";
    opacity: 0.7;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }

/*
.big-container{
 background-color: transparent;
}

.first-page{

}

*/

.first-page-h1{
    position: relative;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 40px;
    top: 20px;
    left: -50%;
    transform: translateX(-50%);
}

.first-page-line{
  position: relative;
  top: 20px;
  width: 100px;
  height: 5px;
  background-color: #74E8A8;
  left: 150%;
  transform: translateX(-50%);
  display: none;
}



.first-page-img{
    background-size: cover;
    background-position: center;
    margin: 0;
    width: 100%;
    height: 70vh;
}

.first-page-arrow-down{

   margin-top: 40px;
}

#first-page-arrow-down-i{
  position: relative; 
  font-size: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: #74E8A8;
  animation: arrow-anime 2s 5s infinite;
}


@keyframes arrow-anime {
  0% {top: 0px;}
  10% {top: 50px;}
  20% {top: -50px;}
  30% {top: 20px;}
  50% {top: 0px;}
}


.first-page-container{
    position: absolute;
    width: 100%;
    
    height: 10%;
}

.first-page-container-divv{
  height: 100%;
}

.first-page-container-div-ul{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

ul li{
    list-style-type: none;
}
/* Start  Button Styling   */
.first-page-container-button, .left-button, .project-1-button, .project-2-button, .project-3-button, #contact-form-button{
    font-size: x-large;
}

.first-page-container-div, .left-div{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 50px;
    background-color: transparent;
  }
/* ------------------------------------------------------   */

  .first-page-container-div{
    position: relative;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
    width: 160px;
    height: 50px;
    background-color: transparent;
    
  }

/* ------------------------------------------------------   */

  #contact-form-div{
    position: relative;
    width: 160px;
    height: 50px;
    background-color: transparent;
  }

  
  .first-page-container-div:before, .left-div:before, .project-1-div:before, .project-2-div:before, .project-3-div:before, #contact-form-div:before{
      content: '';
      background-color: #74E8A8;
      position: absolute;
      top: 0;
      left: 0;
      width: 10%;
      height: 5px;
    }
  
  .first-page-container-div:after, .left-div:after, .project-1-div:after, .project-2-div:after, .project-3-div:after, #contact-form-div:after{
      content: '';
      background-color: #74E8A8;
      position: absolute;
      top: 7px;
      left: -7px;
      width: 10%;
      height: 5px;
      transform: rotate(90deg);
    }
  
  
    .first-page-container-button, .left-button, .project-1-button, .project-2-button, .project-3-button, #contact-form-button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: arial;
    color: black;
  }
  
  .first-page-container-button:before, .left-button:before, .project-1-button:before, .project-2-button:before, .project-3-button:before, #contact-form-button:before{
      content: '';
      background-color: #74E8A8;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10%;
      height: 5px;
  }
  
  .first-page-container-button:after, .left-button:after, .project-1-button:after, .project-2-button:after, .project-3-button:after, #contact-form-button:after{
    content: '';
      background-color: #74E8A8;
      position: absolute;
      bottom: 7px;
      right: -7px;
      width: 10%;
      height: 5px;
      transform: rotate(90deg);
  }
  
  .first-page-container-div:hover:before, .first-page-container-button:hover:before, .left-div:hover:before, .left-button:hover:before, .project-1-div:hover:before, .project-1-button:hover:before, .project-2-div:hover:before, .project-2-button:hover:before, .project-3-div:hover:before, .project-3-button:hover:before, #contact-form-div:hover:before, #contact-form-button:hover:before{
    
    width: 100%;
    transition: 0.5s;
  }
  
  .first-page-container-div:hover:after, .left-div:hover:after, .project-1-div:hover:after, .project-2-div:hover:after, .project-3-div:hover:after, #contact-form-div:hover:after{
    top: 50%;
    width: 45px;
    transition: 0.5s;
    
  }
  
  .first-page-container-div:hover:after, .left-div:hover:after, .project-1-div:hover:after, .project-2-div:hover:after, .project-3-div:hover:after, #contact-form-div:hover:after{
    left: -20px;
  }
  
  .first-page-container-button:hover:after, .left-button:hover:after, .project-1-button:hover:after, .project-2-button:hover:after, .project-3-button:hover:after, #contact-form-button:hover:after{
    right: -20px;
    width: 45px;
    transition: 0.5s;
    bottom: 25px;
  }

/* End  Button Styling   */

  .first-page-div-developer{
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%, -50%);
    width: 80%;
    margin-top: 3%;
  }

  .first-page-div-developer-h1{
    position: relative;
    font-family: 'Mali', cursive;
    font-size: 40px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: none;
  }

  .slash, .and{
    color: #74E8A8;
  }

  .first-page-contact-div-i{
    position: relative;
    text-align: center;
    display: none;
  }

  .first-page-contact-div-col{
    position: relative;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    height: 100px;
  }

  #social-media{
    position: relative;
    font-size: 40px;
    color: #74E8A8;
    top: 50%;
    transform: translateY(-50%);
  }

  #social-media:hover, #social-media-footer:hover{
    color: white;
    transition: 0.5s;
  }

  .left{
    height: 100vh;
    background-color: #48c9b0;
  }

  .left-h1{
    position: relative;

    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Mali', cursive;
    top: 20%;
    transform: translateY(-20%);
  }

  .left-p{
    position: relative;
    text-align: center;
    font-size: medium;
    font-weight: 700;
    font-family: arial;
    top: 40%;
    transform: translateY(-40%);
  }


  .right{
    height: 100vh;
    background-color: #48c9b0;
  }

  .right-img{
    width: 90%;
    height: 80%;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 14px 28px #74E8A8, 0 10px 10px #74E8A8;
}  

.fixed-background-2{
  position: relative;
  margin: 0;
  width: 100%;
  height: 20vh;
  background-color: #74E8A8;
  z-index: 0;
}

.fixed-background-2::after {
  background: url('/images/developer background.jpg');
  content: "";
  opacity: 0.7;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.projects{

}

.projects-line{
  
}

.project-1, .project-2, .project-3{
  height: 50vh;
  margin-top: 30px;
}
/*     From Here               */
.project-1-p, .project-2-p, .project-3-p{
  text-align: center;
  font-size: x-large;
  font-weight: 700;
}

.project-1-img, .project-2-img, .project-3-img{
  width: 100%;
  height: 70%;
}

.project-1-div, .project-2-div, .project-3-div{
  position: relative;
    left: 50%;
    top: 2%;
    transform: translateX(-50%);
    width: 160px;
    height: 50px;
    background-color: transparent;
}

.project-1-absolute, .project-2-absolute, .project-3-absolute{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #74E8A8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#project-1-i, #project-2-i, #project-3-i{
  position: relative;
  font-size: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.project-1-hidden, .project-2-hidden, .project-3-hidden{
  position: absolute;
  width: 100%;
  height: 84%;
  background-color: white;
  left: 0;
  display: none;
}


.project-1-hidden-p, .project-2-hidden-p, .project-3-hidden-p{
  position: relative;
  color: #48c9b0;
  font-size: x-large;
  text-align: center;
  font-weight: 700;
  width: 90%;
  height: 50%;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -10%);
}

.project-1-hidden-div, .project-2-hidden-div, .project-3-hidden-div{
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #74E8A8;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  border-radius: 50%;
}

#project-1-hidden-i, #project-2-hidden-i, #project-3-hidden-i{
  position: relative;
  font-size: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contact{

}

.contact-h1{
  text-align: center;
}

.contact-line, .projects-line-fixed{
  width: 100px;
  height: 5px;
  background-color: #48c9b0;
  left: 50%;
  transform: translateX(-50%);
}

#form-name:focus, #form-email:focus{
  outline: 2px solid #74E8A8;
}

.footer-p{
  color: white;
  font-size: medium;
  text-align: center;
  margin-top: 10px;
}

.footer-span{
  color:#74E8A8;
}

#social-media-footer{
  position: relative;
    font-size: 20px;
    color: #74E8A8;
    left: 50%;
}

.footer-row{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  height: 30px;
}

#footer-copyright{
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-size: small;
  
  color: white;
}


/* Working here still under constraction :) */
.project-1-absolute:active{
}



  @media screen and (max-width: 600px) {

    






  }
  